$primary: linear-gradient(to right bottom, #0011f3 0%, #0071e3 50%, #0011f3 100%);
$back: linear-gradient(to right bottom, #def, #faf);
$white: #ffffff;
$lighter: #dfdfdf;
$lightest: #eeeeee;
$gray: #999;
$border: #0071e3;
$purple: #001d6f;
$crimson: rgb(215, 4, 102);